<div class="col-md-8 offset-md-2 text-center">
    <h2 class="text-light">You have made an unauthorized request.</h2>
    <a href="/" button type="button" class="btn btn-warning">Click here to return back to the Mporium home page.</a>
</div>